body {
    margin: 0;
}

.container_before {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_profile_before {
    width: 100vw;
    background-color: #ffffff;
    display: 'flex'
}

.AppName_before {
    margin-top: 25px;
    font-size: 3.75vw;
    font-weight:bolder;
    color:#3c1d1d;
    margin-bottom: 30px;
}

.input_name{
    width: 500px;
    height: 34px;
}

.user_before{
    margin-top: 15px;
    margin-left: 60px;
    width: 80px;
    height: 80px;
}

.cbox{
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.freind_selcet{
    width: 100vw;
    height: 100px;
}