body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #ffe900;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.AppName {
    margin-top: 20vh;
    font-size: 9.5vw;
    font-weight:bolder;
    color:#3c1d1d
}

.subTitle {
    font-size:4.75vw;
    font-weight:bolder;
    color:#3c1d1d;
}

.LoginBtn {
    margin-top:500px;
    margin-bottom: 159px;
    width: 314px;
    height: 54px;
    background-color: white;
    border-radius: 10px;
    border-color: #ffe900;
    display: flex;
    align-items: center;
}

.LoginText {
    font-size: 16px;
    font-weight: bolder;
    margin-left: 45px;
}

.Loginimg {
    width: 36px;
    height: 36px;
    margin-left: 16px;
}