body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #ffe900;
    display: flex;
    text-align: center;
}

.AppName {
    margin-top: 20vh;
    font-size: 9.5vw;
    font-weight:bolder;
    color:#3c1d1d;
}

.subTitle {
    font-size:4.75vw;
    font-weight:bolder;
    color:#3c1d1d;
}

.comment1{
    margin-top: 200px;
    font-size:3.75vw;
    font-weight:bolder;
    color:#3c1d1d;
}

.comment2{
    font-size:3.75vw;
    font-weight:bolder;
    color:#3c1d1d;
}

.comment3{
    margin-top: 70px;
    font-size:2.75vw;
    color:#3c1d1d;
}

.PhotoBtn {
    margin-top: 30px;
    width: 314px;
    height: 54px;
    background-color: white;
    border-radius: 10px;
    border-color: #ffe900;
    display: flex;
    align-items: center;
}

.PhotoText {
    font-size: 16px;
    font-weight: bolder;
    margin-left: 45px;
}

.Photoimg {
    width: 36px;
    height: 36px;
    margin-left: 16px;
}

.QRBtn {
    margin-top: 30px;
    width: 314px;
    height: 54px;
    background-color: white;
    border-radius: 10px;
    border-color: #ffe900;
    display: flex;
    align-items: center;
}

.QRText {
    font-size: 16px;
    font-weight: bolder;
    margin-left: 45px;
}

.QRimg {
    width: 36px;
    height: 36px;
    margin-left: 16px;
}

.MethodBtn {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 314px;
    height: 54px;
    background-color: white;
    border-radius: 10px;
    border-color: #ffe900;
    display: flex;
    align-items: center;
}

.MethodText {
    font-size: 16px;
    font-weight: bolder;
    margin-left: 40px;
}
