body {
    margin: 0;
}

.qrcontainer {
    width: 100vw;
    height: 100vh;
    background-color: #ffe900;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.comment1{
    font-size:3.75vw;
    font-weight:bolder;
    color:#3c1d1d;
}

.comment2{
    font-size:3.75vw;
    font-weight:bolder;
    color:#3c1d1d;
    margin-bottom: 10px;
}

.comment3{
    font-size:2.75vw;
    font-weight: bold;
    color:#3c1d1d;
}

.PhotoBtn {
    width: 314px;
    height: 54px;
    background-color: white;
    border-radius: 10px;
    border-color: #ffe900;
    display: flex;
    align-items: center;
}

.PhotoText {
    font-size: 16px;
    font-weight: bolder;
    margin-left: 45px;
}

.Photoimg {
    width: 36px;
    height: 36px;
    margin-left: 16px;
}

.QRBtn {
    width: 314px;
    height: 54px;
    background-color: white;
    border-radius: 10px;
    border-color: #ffe900;
    display: flex;
    align-items: center;
    border: 0px;
}

.QRText {
    font-size: 16px;
    font-weight: bolder;
    margin-left: 45px;
}

.QRimg {
    width: 36px;
    height: 36px;
    margin-left: 16px;
}

.MethodBtn {
    width: 314px;
    height: 54px;
    background-color: white;
    border-radius: 10px;
    border-color: #ffe900;
    display: flex;
    align-items: center;
    border: 0px;
}

.MethodText {
    font-size: 16px;
    font-weight: bolder;
    margin-left: 40px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 3vh;
    align-items: center;
    height: 380px;
}

.comments {
    display: flex;
    flex-direction: column;
}

